[% start_year=2016 %]
[% MACRO example(file) BLOCK %]
[%- pl =  file _ ".pl" -%]
[%- out = file _ "-out.txt" -%]
[% INCLUDE $pl | xtidy %]

produces output

[% INCLUDE $out | xtidy %]

(This example is included as L<F<[% pl %]>|https://api.metacpan.org/source/BKB/WWW-Wikipedia-LangTitles-[% version %]/examples/[% pl %]> in the distribution.)
[% END %]
=encoding UTF-8

=head1 NAME

WWW::Wikipedia::LangTitles - get interwiki links from Wikipedia.

=head1 SYNOPSIS

    use WWW::Wikipedia::LangTitles 'get_wiki_titles';

=head1 VERSION

This documents version [% version %] of WWW::Wikipedia::LangTitles corresponding to git
commit [% commit.commit %] released on [% commit.date %].

=head1 DESCRIPTION

Get Wikipedia interwiki link titles.

=head1 FUNCTIONS

=head2 get_wiki_titles

   my $ref = get_wiki_titles ('Helium');

Returns a hash reference with all the articles in each language,
indexed by the language. For example C<$ref->{ja}> will be equal to ヘ
リウム, the Japanese title of the equivalent Wikipedia article.

=cut
[% INCLUDE "author" %]
