[% start_year=2016 %]
[% MACRO example(file) BLOCK %]
[%- pl =  file _ ".pl" -%]
[%- out = file _ "-out.txt" -%]
[% INCLUDE $pl | xtidy %]

produces output

[% INCLUDE $out | xtidy %]

(This example is included as L<F<[% pl %]>|https://api.metacpan.org/source/BKB/WWW-Wikipedia-LangTitles-[% info.version %]/examples/[% pl %]> in the distribution.)
[% END %]
=encoding UTF-8

=head1 NAME

WWW::Wikipedia::LangTitles - get interwiki links from Wikipedia.

=head1 SYNOPSIS

[% example('synopsis') %]

=head1 VERSION

This documents version [% info.version %] of
WWW::Wikipedia::LangTitles corresponding to L<git commit [%
commit.commit %]|[% info.repo %]/commit/[% commit.commit %]> released
on [% commit.date %].

=head1 DESCRIPTION

This module retrieves the Wikipedia interwiki link titles from
wikidata.org. It can be used, for example, to translate a term in
English into other languages, or to get near equivalents.

=head1 FUNCTIONS

=head2 get_wiki_titles

   my $ref = get_wiki_titles ('Helium');

Returns a hash reference with all the articles in each language,
indexed by the language. For example C<< $ref->{th} >> will be equal
to ฮีเลียม, the Thai title of the equivalent Wikipedia article.

The language of the original page can be specified like this:

   use utf8;
   my $from_th = get_wiki_titles ('ฮีเลียม', lang => 'th');

The URL is encoded using L<URI::Escape/uri_escape_utf8>, so you must
use character strings not byte strings (use "use utf8;" etc.)

An option "verbose" switches on verbose messages with any true value:

   my $ref = get_wiki_titles ($name, verbose => 1);

=head2 make_wiki_url

    my $url = make_wiki_url ('helium');

Make a URL for the Wikidata page. You will then need to retrieve the
page and parse the JSON yourself. Use a second argument to specify the
language of the page:

    use utf8;
    my $url = make_wiki_url ('ฮีเลียม', 'th');

The default is C<en> for English.

=head1 SEE ALSO

=over

=item L<Locale::Codes>

You may be able to convert the language codes to and from the language
names using this module. (I have not tested it yet.)

=back

=head1 DEPENDENCIES

=over

=item Carp

L<Carp> is used to report errors

=item LWP::UserAgent

L<LWP::UserAgent> is used to retrieve the data from Wikidata.

=item JSON::Parse

L<JSON::Parse> is used to parse the JSON data from Wikidata.

=back

[% INCLUDE "author" %]
